<div class="container py-5">
  <h3>Edit Company</h3>
  <%= link_to "< Company", company_path(@company) %>
  <!--  To display the email domain validation error -->
  <% if @company.errors.present? %>
    <p style="color: #B00100"><%= @company.errors['email'].last %></p>
  <% end %>
  <%= render "form" %>
</div>
